
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */
* {
    margin: 0%;
    padding: 0;
}
html {
    height: 100%;
    font-family: 'Roboto', 'Roboto-Light', 'Roboto-Regular', 'Roboto-Medium' sans-serif;
}
body {
    height: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 576px;
    background-color: white;
    margin-top: 0;
}
header {
    font-family: 'Roboto' , 'Roboto-Light';
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 576px;
    background-color: white;
    margin-bottom: 0;
}
#karma {
   width: 20px;
   height: 20px;
   margin-left: 40px;
   margin-bottom: 0;
}

header >nav {
    font-size: 10px;
    margin-left: auto;
}

.nav__link {
    text-decoration: none; 
    padding: 5px 5px 0 5px;
    margin-left: auto;
}
.nav__link {
  color: rgb(195, 196, 199);
}
.nav__link:visited {
  color: rgba(32, 31, 31, 0.847);
}
.nav__link:hover {
    color: darkorange;
}

.intro {
    background-image: url(https://lh3.googleusercontent.com/OOZFAZ_fVaS9CEBFKPzd_NeakVNgMBpqxZ0uj4si5Qy9DXW_A2rkrVa3_czhKqnXP4lpLq3E1FWURDI9mWJrc9E6dFcnRZ4CPcMWd1JGU_W2bwFvJiT99dbftnsUJrek4bg0YtE860KwoZixOFxfBxxLGnlRatVhsn2FXv2E0i5z7cEtkVFJufV_ayshydmrU_nZxAm7s6dz_QMY4pAF6ixCWXTxNx_OuIsobFexwoOdLOwDlBqf10w2QBgYpAHPMrhKi5qbjEochsvv0DMPkaGfYmnsvwaIuTn9_Ik26lguGNlcfgMhpRTcZPGpzxU08IP9UBUP-XQDmjVp6S2GVZub90z9RKxTcUtcopNOETKdxUoiK3rctv4WkwFexYMWJ3MbER6ZZ9Tqhr--NVJk-nUdnS6eXejqXf10CRnn_KENEqOwJo-5nWQiPGbp-dlcv3E0u-eEL3RxC88X05-ezaU6r8fWwvO26jv8_4kFGtI3Uol-EkYTrQXjnljm726xDTZkao-5V42Z2psN_wY5N2-mdVrintVZJYQfzS2O66QvECSU8fMK2-9RQBB_w7XAOia0eaTBA1qw1lVrbteU7zHSSkYatoWlLoe1xrXz6oDJ6BfD6f5e87saanZbqh67jg_D3AEsXGcSZz2i_CF7iQf57Qp8d4IwM1L09hEyOg2pLBRs7QhH2OQlIxIXTYZSuqJFxP3BVbuU7B_uHEIFKlDA9Xm2HOsvAmVLaX4etxtPr04gQp1hZxECqjzQYlm0X6qed_xkAznpxHdN3Z5FzOH3-C5YeX2UnWT-Zlm9oUs6bEH8AlU_8pWdkPmwpPBDZJeiUnWjMTsGg7UWr3VclREcmqo3Vl0lr_-04mWhXaWAaUsXRQtOwfszL46q5qQHYGNyHZJg7U9fjRfJlKdzXJg4tWhXr6FLMHZvCNepHcUxfyHvAH8viBOKr_nZTRmEFTEKuYMJaTV8bqJwVPNbEA=w1600-h735-s-no?authuser=0);
    height: 300px;
    color: aliceblue;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 576px 300px;
    width: 576px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', 'Roboto-Regular';
    font-style: normal;
    font-weight: lighter;
    margin-top: 0;
}
.karma-konteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 576px;
    text-align: center;
    justify-content: center;
    padding: 0px;
    font-family: 'Roboto-Regular';
}

.karma-item {
    justify-content: flex-end;
    padding: 20px;
    margin: 0;
}

.p {
    margin: 0px;
    font-family: 'Roboto', 'Roboto-Regular';
    font-size: 0.85em;
}
h1 {
    font-weight: lighter;
    padding: 10px;
}
h2 {
    text-align: center;
    font-style: normal;
    font-family: 'Roboto', 'Roboto-Light';
    font-weight: lighter;
}

button {
    color:beige;
    background-color: rgb(255, 115, 0);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.footer {
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 12px;
    width: 576px;
    background-color:white;
}
.paragraf {
    border-top: 1px solid;
    border-color: rgb(208, 207, 207);
    width: 500px; 
    padding-top: 20px;
}
img.social {
    height: 10px;
    width: 10px;
    border: 1px rgb(208, 207, 207) solid;
    border-radius: 100%;
    padding: 5px;
}

.mob {
    color:rgb(208, 207, 207);
    padding-top: 10px;
}
img {
  height: 70px;
  width: 70px;
}
/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


